@use '/src/styles/utils/variables.scss' as *;

.address {
  &__headline {
    font-family: 'Cinzel', serif;;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 27px;
  }

  &__name {
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    &--margin {
      margin-top: 16px;
    }
  }

  &__data {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 4px;
  }

  &__anchor {
    text-decoration: none;
    color: $text;
    transition: color 0.3s ease-in-out;
    // font-size: 16px;
    // line-height: 140%;

    &:hover {
      color: $address-color;
    }
  }

  &__tel {
    color: $text;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $address-color;
    }
  }
}
