.footer {
  background-image: url('../images/photos/footer.png');
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 20%;

width: 100%;
  @media (min-width: 744px) {
    height: 360px;
  }

  @media (min-width: 1260px) {
    background-image: url('../images/photos/footerbig.png');
    background-position: center;
  }
}
