@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;

.header {
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url('/src/images/photos/nheaderbg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 20px;

  &__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 20px;
    background-color: $main-accent;
    box-sizing: border-box;

    @media (min-width: 744px) {
      padding: 25px 35px;
    }

    @media (min-width: 1260px) {
      width: 1260px;
      left: calc((100% - 1260px) / 2);
    }
  }


  &__title {
    grid-column: 1/13;
    margin: 160px auto 0;

    @media (min-width: 744px) {
      margin: 230px auto 0;
    }

    @media (min-width: 1260px) {
      margin: 145px auto 0;
    }
  }

  @media (min-width: 1260px) {
    @include grid;
    grid-template-rows: 110px 1fr;
    padding: 50px 120px;
  }
}
